<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104706740871-tj35coqs4uc0t0an6uoa5p48v81ktebl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104706740871-tj35coqs4uc0t0an6uoa5p48v81ktebl</string>
	<key>API_KEY</key>
	<string>AIzaSyAMGGMlAGKW0kWFboygxIWg3WuHXOUQOac</string>
	<key>GCM_SENDER_ID</key>
	<string>104706740871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.daiki123456.langjournal</string>
	<key>PROJECT_ID</key>
	<string>journal-prd</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-prd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104706740871:ios:a134d46ac1db50f8755e22</string>
</dict>
</plist>